* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: aqua; */
  width: 20%;
  margin: auto;
}

.homeContents {

  margin-top: 50%;
  text-align: center;
  /* background-color: aquamarine; */

}


